<html>
 <head>
   <title>The Gossip show</title>
 </head>
 <body>
   <h1>Voici la page du potin n° <%= truc[1] %> </h1>    <h3>
         <%= truc[0].name %>
         <%= truc[0].text %>
 </h3>
 <a href="/">retour</a>
 </body>
</html>